.appContainer {
  width: 100%;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}
.gridContainer {
  background-color: #fcf8f2;
  padding: 40px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  max-width: 500px;
  border-bottom: 1px solid #49ada1;
}

h5,
p {
  margin: 0;
  padding: 20px 0px;
}
